# Data Type in python

Data types tell Python what kind of data is stored in a variable (number, text, collection, etc.), so it can handle it properly.

In [ ]:
#check all the data types 
"""
1. Numerical  data type are :-integer
               Float
               complex
"""
# examples:
#integer(Whole numbers)
x=23
print("int dtype:-",x)
print(type(x)) #check the type of data

#Float(Decimal numbers)
z=23.4,56.1,67.23
print("float dtype:-",z)
print(type(z))

#complex(Numbers with real + imaginary part (e.g., 2 + 3j))
a=34j,45.3j
print("complex dtype:-",a)
print(type(a))

int dtype:- 23
<class 'int'>
float dtype:- (23.4, 56.1, 67.23)
<class 'tuple'>
complex dtype:- (34j, 45.3j)
<class 'tuple'>

In [ ]:
#2.Text data type are :-String 
#examples
#str → String (text inside quotes)
q="hello world!"
print("str dtype:-",x)
print(type(q))

c="345"
print("str dtype:-",z)
print(type(c))

str dtype:- 23
<class 'str'>
str dtype:- (23.4, 56.1, 67.23)
<class 'str'>

In [ ]:
'''
3.sequence data type are :- list
                             tuple  
                             range
                             '''
#examples
#list → Ordered, mutable collection
lis=[3,45,45.67,"data",True]
print(lis)

#tuple → Ordered, immutable collection
tup=(12,376.78,"hello",False)
print(tup)

#range → Sequence of numbers (used in loops, e.g., range(5))
ran=range(1,10)
print(ran)

for i in range(1,10):
    print("range value:-",i)

[3, 45, 45.67, 'data', True]
(12, 376.78, 'hello', False)
range(1, 10)
range value:- 1
range value:- 2
range value:- 3
range value:- 4
range value:- 5
range value:- 6
range value:- 7
range value:- 8
range value:- 9

In [ ]:
#4.mapping data type are:- dictionary
#dict → Key-value pairs
x={"name":"dolly","age":23}
print(x)

{'name': 'dolly', 'age': 23}
<class 'dict'>

In [ ]:
'''5.set data type are:- set
                    frozenset '''
#set → Unordered collection of unique items
x={"hello",23,67.8,6j}
print("set dtype:-",x)

#frozenset → Immutable set (cannot be changed after creation)
y=frozenset({23,"world"})
print(y)

set dtype:- {6j, 67.8, 'hello', 23}
<class 'set'>
frozenset({'world', 23})
<class 'frozenset'>

In [ ]:
#6.boolen :bool
#bool → Logical values: True or False ,yes or no,0 or 1 etc
x =True
y=False
print(x)
print(y)
print(x and y)
print(x or y)

True
False
False
True

In [ ]:
'''7.binary data type :- bytes
                         bytearray
                         memoryview'''

#bytes → Immutable sequence of bytes
x=b'hello'
print("btyes data type:-",x)

#bytearray → Mutable sequence of bytes
y=bytearray(10)
print(y)

#memoryview → View object for binary data without copying
z=memoryview(bytes(5))
print(z)

btyes data type:- b'hello'
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
<memory at 0x00000286BA294880>

In [ ]:
#8 none types:nonetype
#NoneType → Special type with single value None (represents "nothing")
x=None
print(x)

None

In [10]:
#swapping :-exchange the value from one variable to another variable.
#examples
x=45
y=24
x,y=y,x
print("x value:-",x)
print("y value:-",y)

a=29
b=20
c=45
a,b,c=c,a,b
print("a:_",a)
print("b:-",b)
print("c:-",c)


ac=25
bc=30
cd=10
ac,bc,cd=bc,cd,ac
print("ac:-",ac)
print("bc:-",bc)
print("cd:-",cd)

x value:- 24
y value:- 45
a:_ 45
b:- 29
c:- 20
ac:- 30
bc:- 10
cd:- 25

In [5]:
#Casting : IT is used to change the data types.
#examples
x="23"
x=int(x) 
print(type(x))

y=["bjsnk",23]
y=str(y)
print(type(y))

<class 'int'>
<class 'str'>